body {background-color: #34373d; color: #dad2c1;}
.header {background-color: rgba(214, 26, 33, 0.75); border: 1px 1px #6b0d11; text-shadow: 3pt 3pt 3pt #6b0d11;}
.nav {background-color: rgba(233, 82, 77, 0.75); border: 1px 1px #752927;}
.navbtn {background-color: rgba(214, 26, 33, 0.5); text-shadow: 1pt 1pt 1pt #6b0d11;}
.subnav .navbtn {background-color: rgba(214, 26, 33, 0.5); text-shadow: 1pt 1pt 1pt #6b0d11;}
.section {background-color: rgba(52, 55, 61, 0.75); border: 1px 1px #1a1c1f;}
.article {background-color: rgba(89, 88, 89, 0.5); border: 1px 1px #2d2c2f;}
.docs-drop {background-color: rgba(52, 55, 61, 0.5);}
.parties-drop {background-color: rgba(52, 55, 61, 0.5);}
.members-drop {background-color: rgba(52, 55, 61, 0.5);}
.subbtn1-drop a {background-color: rgba(52, 55, 61, 0.5);}
.subbtn2-drop a {background-color: rgba(52, 55, 61, 0.5);}
.subbtn3-drop a {background-color: rgba(52, 55, 61, 0.5);}
.section h2 {color: #e9524d; text-shadow: 2pt 2pt 2pt #2d2c2f}

/*Hover*/
.header:hover {background-color: rgba(215, 27, 34, 0.85);}
.nav:hover {background-color: rgba(234, 83, 78, 0.85);}
.navbtn:hover {box-shadow: 3px 0 3px #7f2927, 0 3px 3px #1a1c20; background-color: rgba(231, 90, 85, 0.75);}
.subnav .navbtn:hover {box-shadow: 3px 3px 3px #1a1c20; background-color: rgba(231, 90, 85, 0.75);}
.article:hover {background-color: rgba(90, 89, 90, 0.6);}
.section:hover {background-color: rgba(56, 59, 65, .8);}
.docs-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}
.parties-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}
.members-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}
.subbtn1-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}
.subbtn2-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}
.subbtn3-drop a:hover {background-color: rgba(68, 71, 77, 0.75);}